# Twitter scraping and preprocessing of the data for Waseem
In this notebook Twitter scraping based on having only tweet ids is done. Some of the preprocessing of the data is done as well, such as dropping the id column, dropping the rows of the tweets that API could not retrieve (deleted tweets, suspended / deleted accounts). 

This is a separate file because extracting tweets from Twitter takes a really long time.

The first step in our process includes simply retrieiving the data set in question. In this case, Waseem.

In [2]:
import pandas as pd
import csv
url_waseem_data = "https://raw.githubusercontent.com/zeeraktalat/hatespeech/master/NAACL_SRW_2016.csv"
df_waseem = pd.read_csv(url_waseem_data)
df_waseem.columns = ["tweet", "class_label"]
df_waseem

                    tweet class_label
0      572341498827522049      racism
1      572340476503724032      racism
2      572334712804384768      racism
3      572332655397629952      racism
4      575949086055997440      racism
...                   ...         ...
16901  576359685843861505        none
16902  576612926838046720        none
16903  576771329975664640        none
16904  560595245814267905        none
16905  569363477095174145        none

[16906 rows x 2 columns]

# Twitter scraping
In this section, we will get the tweets having only tweet ids from Twitter using tweepy. This was a very challenging task because Twitter is very protective about authentication process. We tried multiple methods on how this can be done:


1.   Using tweepy and get_status
2.   Using TwitterAPI
3.   Using tweepy's Client.
4.   Using web scraping techniques (using Beautiful Soup or lxml).

At first options 1 and 2 did not work because we did not have access to Twitter Elevated Account (we only had basic one which is called Essential) which is required to retieve tweet content from the id. We applied for the account and it got rejected. We had to reappeal in order to gain access and it took multiple days. In the meantime, we hopelessly searched for other alternatives. Option 3 did not work because it required v4 of tweepy that is still in the development (more to read about this issue [here](https://stackoverflow.com/questions/67978717/tweepy-3-10-0-attributeerror-module-tweepy-has-no-attribute-client) ). The last technique also did not work because of how protective Twitter is of the data.

In [3]:
!pip3 install tweepy

Requirement already satisfied: tweepy in /usr/local/lib/python3.7/dist-packages (3.10.0)
Requirement already satisfied: requests[socks]>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from tweepy) (2.23.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (1.3.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (1.15.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)

In [4]:
import tweepy
# The keys were replaced with empty strings for the protection of privacy on Github
consumer_key = ""
consumer_secret = ""
access_token = ""
access_token_secret = ""
  
# authorization of consumer key and consumer secret
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
  
# set access to user's access key and access secret 
auth.set_access_token(access_token, access_token_secret)
  
# calling the api 
api = tweepy.API(auth)

In [5]:
def get_tweet_text(id):
  try:
    status = api.get_status(id)
    return status.text
  except Exception:
    return "ERROR"

Here we show how the function get_tweet_text works on one tweet:

In [6]:
print(get_tweet_text(572341498827522049))

Drasko they didn't cook half a bird you idiot #mkr

# Waseem data 
In this section we will transform Waseem dataset to contain the tweet text as well using the function defined above.

In [ ]:
df_waseem["text"] = df_waseem.tweet.apply(lambda x: get_tweet_text(x))

In this step we do some of the preprocessing of the data. We drop the error rows, make sure text column is before class_label column, and drop id column.

In [ ]:
df_waseem = df_waseem[df_waseem.text != 'ERROR'] # drop error rows
columns_titles = ["text","class_label"] # swap the columns order and drop id column 
df_waseem=df_waseem.reindex(columns=columns_titles)

In the last step we save csv file.

In [ ]:
df_waseem.to_csv("df_waseem_preprocessed.csv", sep=' ')

# Founta Dataset
In this section we will transform **Founta** dataset to contain the tweet text as well using the function defined above.

In [7]:
import pandas as pd
import csv
url_founta_data = "https://raw.githubusercontent.com/ENCASEH2020/hatespeech-twitter/master/hatespeech_labels.csv"
df_founta = pd.read_csv(url_founta_data)
df_founta.columns = ["tweet", "class_label"]

In [8]:
df_founta["text"] = df_founta.tweet.apply(lambda x: get_tweet_text(x))

In [9]:
df_founta

                    tweet  ...                                               text
0      849667487180259329  ...                                              ERROR
1      850490912954351616  ...  Alex Brosas another idiot #ALDUBKSGoesToUS  ht...
2      848791766853668864  ...  RT @ItIzBiz: as Nancy Reagan would say, 'just ...
3      848306464892604416  ...                                              ERROR
4      850010509969465344  ...  RT @MailOnline: The Nazi death gas so horrific...
...                   ...  ...                                                ...
99794  848922176128376832  ...                                              ERROR
99795  849405078956109829  ...                                              ERROR
99796  847981251143254016  ...                                              ERROR
99797  850180983253073920  ...                                              ERROR
99798  849515175254405120  ...                                              ERROR

[99799 rows x 3 columns]

In [12]:
df_founta = df_founta[df_founta.text != 'ERROR'] # drop error rows
columns_titles = ["text","class_label"] # swap the columns order and drop id column 
df_founta = df_founta.reindex(columns=columns_titles)
df_founta

                                                    text class_label
1      Alex Brosas another idiot #ALDUBKSGoesToUS  ht...     abusive
2      RT @ItIzBiz: as Nancy Reagan would say, 'just ...     abusive
4      RT @MailOnline: The Nazi death gas so horrific...      normal
5      I hate er chase because if the Bitch that work...     hateful
16     But he still with the shits so he started smok...     abusive
...                                                  ...         ...
88138  I reeaallyy fucking don't but if you think I'm...     abusive
88139  RT @DavidFurstNYT: Today's Pano-8 spread in th...      normal
88145  Me: GIVE ME MY FUCKING SANDWHICH https://t.co/...     abusive
88156  I CANT GET OVER THESE FUCKING PHOTOS EVERY TIM...     abusive
92300  RT @prozdkp: when you're mad at video games bu...      normal

[4086 rows x 2 columns]

In [13]:
df_founta.to_csv("df_founta_preprocessed.csv", sep=' ')